
/* медиа точки */
@media-desktop: 1280px;
@media-desktop: 1279px;

@media-tablet: 1020px;
@media-tablet: 1019px;

@media-mobile: 760px;
@media-mobile: 759px;

@media-mobile: 600px;
@media-mobile: 599px;

// @media-desktop-min: 1280px;
// @media-desktop: 1279px;

// @media-tablet-min: 1020px;
// @media-tablet: 1019px;

// @media-mobile-min: 760px;
// @media-mobile: 759px;

// xm - extra small
// @media-mobile-xm-min: 600px;
// @media-mobile-xm: 599px;


// @media-desktop-min: 1201px;
@media (max-width: @media-desktop) {
}

// @media-tablet: 980px;
// @media-mobile-min: 760px;
@media (min-width: @media-mobile-min) and (max-width: @media-tablet) {
}

// @media-mobile: 759px;
@media (max-width: @media-mobile) {
}

// ======================================= d = desktop
@media (min-width: 1280px) {
}

@media (min-width: 1020px) and (max-width: 1279px) {
}

@media (min-width: 760px) and (max-width: 1019px) {
}

@media (max-width: 759px) {
}

// ======================================= d = desktop

// @media-desktop-lg-min: 1280px;
@media (min-width: 1280px) {
  //
}

@media (min-width: @media-desktop-lg-min) {
  //
}

// @media-tablet-lg-min: 1020px;
@media (min-width: 1020px) {
  //
}

// @media-tablet-lg-min: 1020px;
@media (min-width: @media-tablet-lg-min) {
  //
}

// ======================================= t = tablet
// @media-tablet-lg-min: 1020px;
// @media-desktop-lg: 1279px;
@media (min-width: 1020px) and (max-width: 1279px) {
  //
}

@media (min-width: @media-tablet-lg-min) and (max-width: @media-desktop-lg) {
  //
}

// @media-tablet-lg: 1019px;
// @media-mobile-min: 760px;
@media (min-width: 760px) and (max-width: 1019px) {
  //
}

@media (min-width: @media-mobile-min) and (max-width: @media-tablet-lg) {
  //
}

// @media-mobile: 759px;
// @media-mobile-sm-min: 600px;
@media (min-width: 600px) and (max-width: 759px) {
}

@media (min-width: @media-mobile-sm-min) and (max-width: @media-mobile) {
}

// @media-mobile: 759px;
// @media-mobile-sm-min: 600px;
@media (max-width: 759px) {
  //
}

@media (max-width: @media-mobile) {
  //
}

// ======================================= tc = m mobile
// Компонент должен быть резиновым
//  на ключевых точках:
// 320 - 599
//

// @media-mobile-sm: 599px;
@media (max-width: 599px) {
  //
}

@media (max-width: @media-mobile-sm) {
  //
}

// shop\catalog\view\theme\default\stylesheet\properties.less
/* медиа точки */
// @media-desktop-lg-min: 1280px;
// @media-desktop-lg: 1279px;

// @media-desktop-min: 1201px;
// @media-desktop: 1200px;

// @media-tablet-lg-min: 1020px;
// @media-tablet-lg: 1019px;

// @media-tablet-min: 981px;
// @media-tablet: 980px;

// @media-mobile-min: 760px;
// @media-mobile: 759px;

// @media-mobile-lg: 680px;

// @media-mobile-md: 600px;
// @media-mobile-sm-min: 600px;
// @media-mobile-sm: 599px;

// @media-mobile-sm: 480px;
